
%t-text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

%t-h1 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5;
}

%t-control-label {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

%t-control-value {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
}

%t-variation-label {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5;
}
