
$c-white: #ffffff;
$c-black: #000000;
$c-blue: #007FCF;

$c-ci-red: #e91b3a;
$c-ci-green: #69b043;

$c-sauce-bolognaise: #d7302f;
$c-sauce-carbonara: #d67330;
$c-sauce-pesto: #31d3a9;
$c-sauce-arrabiata: #69b043;

$c-text: #222222;
$c-text-detail: #888888;
$c-background: #ffffff;

$c-control: #eeeeee;
$c-control-active: $c-ci-green;
